h1{
	text-indent: -999em;
	float: left;
}
.topDot{
	padding-top: 10px;
	float: left;
}
h2{
	font-size: 18px;
	height: 18px;
	line-height: 18px;
	font-weight: normal;
	color: #739d24;
	background: url(../img/search/sprite.png) no-repeat -243px 6px;
	padding-left: 20px;
	width: 63px;
}
.no_script{
	/*text-indent: -2000em;*/
	/*text-indent: -9999px;
	outline: none;*/ /* 去掉Firefox点击时产生的虚线框 */
	font-size:0;
}
/*div header:after{
	content: "";
	display: block;
	clear: both;
}*/
.more a{
	width: 40px;
	height: 12px;
	background: url(../img/text_sprite.png) no-repeat -300px -180px;
	margin-left: 6px;
	margin-top: 12px;
}
.content .no_margin{
	margin-right: 0;
}
.content .margin1{
	margin-right: 14px;
}
.unify{
	background: #f2f2f2;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 15px;
	float: left;	
}
.unify .picture{
	margin-bottom: 8px;	
}
.picture a{
	float: left;
	position: relative;

}
.picture .hot{
	position: absolute;
	left: 0;
	bottom: 4px;
	height: 16px;
	width: 100%;
}
.picture .hot .float1{
	height: 16px;
	width: 42px;
	position: relative;
	margin-left: 4px;
	line-height: 16px;
}
.picture .hot .float2{
	height: 16px;
	width: 54px;
	position: relative;
	margin-right: 4px;
	line-height: 16px;
}	
.picture .hot .bg{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	opacity: .5;
}
.picture .hot .text{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	color: #fff;
	text-align: center;
}	
.unify .topic{
	line-height: 20px;
	padding-left: 5px;
	position: relative;
}
.unify .topic .digit{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25px;
	height: 20px;
	color: #ff722c;
}
.unify .topic .digit_l{
	float: left;
	font-size: 16px;
}
.unify .topic .digit_r{
	float: left;
	font-size: 8px;
}
.unify .introduce{
	line-height: 20px;
	padding-left: 5px;
}

/*     吊顶       */

form{
	position: relative;
	width: 460px;
	height: 30px;
	margin-right: 71px;
}
input{
	width: 361px;
	height: 12px;
	border: 1px solid #979e96;
	border-right: none;
	background: none;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	border-radius: 2px 0px 0 2px;
	padding: 9px 0 7px 8px;
}
form a{
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	height: 30px;
	background: url(../img/text_sprite.png) no-repeat;
}
.equally li{
	float: left;
	height: 28px;
	padding-right: 10px;
	position: relative;
}
.equally ul{
	position: relative;
	height: 28px;
	line-height: 28px;
	padding: 2px;
}
.equally li a{
	color: #e5e5e5;
}
.equally .msg  .small_msg{
	position: absolute;
	top: 4px;
	right: 3px;
	
}
.small_msg{
	width: 7px;
	height: 7px;
	background: url(../img/ico_sprite.png) no-repeat 0 -307px;
}
.equally .icon a{
	padding-left: 15px;
	padding-right: 12px;
	position: relative;
	height: 28px;
}
.equally .icon .small_msg{
	position: absolute;
	top: 2px;
	right: 7px;
	z-index: 10;
}
.equally .icon .uploading{
	position: absolute;
	top: 8px;
	left: 0;
	width: 14px;
	height: 12px;
	background: url(../img/ico_sprite.png) no-repeat 0 -283px;
	overflow: hidden;
}
.below_msp{
	position: absolute;
	top: 8px;
	right: 0;
	width: 10px;
	height: 12px;
	background: url(../img/ico_sprite.png) no-repeat 0 -295px;
	overflow: hidden;
}
.equally .menu a{
	float: left;
	padding-right: 12px;
	position: relative;
	height: 28px;
}
.top h1{
	height: 36px;
	width: 110px;
	background: url(../img/search/sprite.png) no-repeat;
}
.equally_nav{
	text-indent: -2999em;
	padding-top: 4px;
}
.equally_nav a{
	float: left;
	height: 31px;
	width: 87px;
	background: url(../img/search/sprite.png) no-repeat 0 -145px;
}
.top_r{
	padding-top: 3px;
}
.top_r input{
	background: #fff;
	border: 1px solid #fff;
	border-right: none;
}
.head{
	height: 412px;
	background: #000000;
}
.head_t{
	height: 34px;
	position: relative;
	padding-top: 10px;
}
.head .bg{
	height: 34px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #000;
	opacity: .5;
	width: 100%;
	border-radius: 3px;
}
.head_t_con{
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding: 7px 0;
	position: absolute;
	left: 0;
	bottom: 0;
}
.head_t_con a{
	float: left;
	color: #fff;
	padding: 0 4px;
}
.head_t_con span{
	float: left;
	height: 15px;
	border-left: 2px solid #3a3a3a;
	margin: 3px 12px 2px 10px;
}
.head_t_con .active{
	color: #82d900;
}
.head_t_con a:hover{
	color: #82d900;
}
/*   页脚        */
footer{
	border-top: 1px solid #cccccc;
}
.footmenu,.copyright{
	text-align: center;
	height: 28px;
	line-height: 28px;
}
.copyright a{
	color: #666;
} 
