body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6{
	margin: 0;
}
ul,ol{
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
	vertical-align: top;
}
form{
	margin:0;
}
input{
	padding:0;
	margin:0;
	
}
