body{
	transition: all 3s;
	position:relative;
	/*width: 100%;*/
	overflow-x: hidden;
}

/*外部字体*/
@font-face {
    font-family: "iconfont";
   
    src:url('../font/font_tu.woff') format('woff'); /* chrome, firefox */
 
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:0.3rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


#play{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 30px;
}
#play p{
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	position: absolute;
	top:0;
}
#play .a1{
	z-index:1;
}
#about_us{
	width: 100%;
	text-align: center;
}
#about_us h1{
	padding: 20px;
	font-size: 50px;
	color: #424242;
	opacity: 0;
}
#about_us h2{
	opacity: 0;
}
#about_us .heng,#works .heng,#friends .heng,#callme .heng{
	width: 30px;
	border-top: 2px solid  #424242;
	margin: auto;
	margin-top:20px;
	opacity: 0;
}
#callme .heng{
	margin-bottom: 30px;
	border-top: 2px solid  #FFFFFF;
	opacity: 1;
}
#friends .heng{
	opacity: 1;
}
#text{
	margin: 35px auto;
	width: 900px;
	opacity: 0;
}
#text p{
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #424242;
	/*opacity: 0;*/
}
#view a{
	display: inline-block;
	padding: 15px 35px;
	border: 2px solid  #424242;
	font-family: arial;
	color: #424242;
	transition: 1s;
	
	
}
#view{
	opacity: 0;
}
#view a:hover{
	background: #424242;
	color:#FFFFFF;
	border-radius: 40px;
	
}
#waof{
	width:45px;
    height:40px;
	position: fixed;
	top: 2%;
	right: 1.5%;
	z-index: 100;
	background: rgba(112,112,112,1);
	border-radius: 2px;
	box-shadow:5px 5px 5px darkgrey; 
}
#onoff{
	width:35px;
    height:30px;
	position: fixed;
	top: 2.7%;
	right: 1.9%;
	/*text-align: center;*/
	z-index: 100;
	background: url(../img/mean.jpg);
	background-size:35px,30px;
	
	
}
#waof:hover{
	background: rgba(112,112,112,0.7);
}
#nav{
	width: 100%;
	height: 400px;
	background:white;
	position: fixed;
	top:0;
	left:0;
	z-index: 92;
	transform-origin:center top;
	transition: all .3s ease .2s;
	transform: perspective(600px) rotateX(-90deg);
	-webkit-transform-style: preserve-3d;
	cursor: pointer;

	
}
#nav .off{
	margin: 30px auto;
	width: 130px;
	font-size: 40px;
	color: #484439;
}
#nav ul{
	width: 740px;
	margin: 0 auto;
}
#nav li{
	float:left;
	text-align: center;
	font-family: arial;
	font-size: 100px;
	color: #484439;
	margin: 55px;
	font-weight: bold;
	transform: scale(1,1);
	position: relative;
	transition: 1s;
}
#nav li a{
	position:absolute;
	top:0;
	left:0;
	display: block;
	width: 67px;
	height: 126px;
}
#nav li p{
	font-size: 16px;
	/*font-weight: bold;*/
}
#imgtext{
	position: absolute;
	/*top: 265px;
	left: 488px;*/
	bottom:40%;
	z-index:10;
}
#imgtext p{
	font-family: "微软雅黑";
	font-size: 80px;
	color: white;
	z-index: 3;
 	letter-spacing:10px ;
 	text-align:center;
}
#imgtext .sheji{
	font-size: 14px;
	text-align: center;
}
#face ul{
	transform-style:preserve-3d ;
	perspective:200px;
}
#face li{
	width:200px;
	text-align: center;
	float:left;
	margin-left: 52px;
	
}
/*#face li:hover{
	transition: 1s;
	transform: translateZ(10px);
}*/
#face{
	margin-top: 90px;
	
}
#face ul{
	
    margin: 0 auto;
	width: 800px;
}
#face p img{
	margin: 30px 0;
}
#face h4{
	font-size: 14px;
	color: #424242;
	line-height: 25px;
	font-weight: normal;
	display: block;
	transition: 1s;
	height:0px;
	overflow: hidden;
}
.ad{
	margin-left: 12px;
}
#works{
	width: 100%;
	padding-top: 60px;
	text-align: center;
	
}
#works h2{
	opacity: 0;
}
#works li{
	width: 25%;
	float: left;
	position: relative;
	overflow: hidden;			
  	text-align: center;
}
#works li img{
	width: 100%;
	height: 337px;
	/*transition: 1s;*/
	
}
#works ul{
	padding: 50px 0px;
	opacity: 0;
}
#works ul div{
	width: 100%;
	background:  rgba(66,66,66,0.7);
	height: 100%;
	position:absolute;
	top:0;
	left: 0;
	text-align: center;
	line-height: 337px;
	display: none;
}
#works ul span{
	color:white;
	font-size: 18px;
	font-family: "微软雅黑";
				
}
#works .active {
	transform:scale(1.1);
	transition:1s;
}
#works h1, #friends h1,#callme h1{
	padding-bottom: 10px;
	width: 100%;
	font-size: 50px;
	color: #424242;
	opacity: 0;

}
#friends h1,#callme h1{
	opacity: 1;
}
#callme h1{
	color:#FFFFFF ;
}
#friends{
	text-align: center;
	margin: 30px 0 auto;
}
#friends ul{
	width: 1200px;
	height: 80px;
	line-height: 80px;
	margin:0 auto;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
#friends li{
	height: 100%;
	float:left;
	vertical-align:middle;
}
#friends li img{
	vertical-align:middle;
}

#foote{
	background-image:url(../img/footer.jpg);
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
	margin:0 auto;
	padding-top: 70px;
}
#callme{
	
	text-align: center;
}
#callme p{
	text-align: center;
	color: #FFFFFF;
	font-family: "微软雅黑";
	line-height: 30px;
	opacity: 0.8;
	font-size: 14px;

}
#cus{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom:16%;
	left:0;
	text-align: center;
	z-index: 90;
}
#cus img{
	text-align: center;
	display: inline-block;
	width: 50px;
	height: 45px;
	animation: abc 1s linear infinite;
	
}
@keyframes abc{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(20px);
	}
	100%{
		transform: translateY(0px);
	}
}
#table span{
    display: inline-block;
	width: 45px;
	border-bottom: 5px solid white;
	z-index: 1;
	margin: 8px;
	transform: scale(1);
}
#table{
	width:100%;
	height: 20px;
	position: absolute;
	bottom:7%;
	left:0;
	z-index: 2;
	text-align: center;
	cursor: pointer;

}

#table .active{
	
	border-color: #9c9c9c;
	
}

#nav.show{
	transition: all .2s ease .1s;
	transform: perspective(600px) rotateX(0deg);

}
#bg-mask.showw{
	transition: all .2s ease .1s;
	transform: perspective(600px) rotateX(0deg);

}
#bg-mask.closee{
	transition: all .2s ease .1s;
	transform: perspective(600px) rotateX(-180deg);
}
#nav.close{
	transition: all .2s ease .1s;
	transform: perspective(600px) rotateX(-180deg);

}
#nate div{
	height:30px;
	line-height:30px;
	overflow: hidden;
	margin-top:-15px;
	
}
#nate div p{
	transition: all .3s ease .1s;
}
#nav :hover{
	color:darkgray;
}
#nate li:hover p:first-child{
	margin-top: -30px;
	
}
.mag{
	margin-left: -7px;
}
#nate li:hover{
	transition: all .3s;
	transform: scale(1.2,1.2);
	
}

#minbar{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 800px;
	z-index: 101;
	perspective:1500px;
	perspective-origin: 50% 150px;
	background: #333333 ;
	display: none;
}
#minbar div{
	margin: 100px auto;
	width:300px;
	height: 400px;
	position:relative;
	transform-style:preserve-3d ;
	animation: movet 18s linear infinite;
}
#minbar img{
	position:absolute;
	top:0;
	left:0;
	width:300px;
	height: 400px;
	vertical-align: top;
	transform: scale(1);
}
#minbar img:hover {
	transform: scale(1.5);
}
#minbar img:nth-of-type(1){
	transform: rotateY(0deg) translateZ(240px);
}
#minbar img:nth-of-type(2){
	transform: rotateY(72deg) translateZ(240px);
}
#minbar img:nth-of-type(3){
	transform: rotateY(144deg) translateZ(240px);
}
#minbar img:nth-of-type(4){
	transform: rotateY(216deg) translateZ(240px);
}
#minbar img:nth-of-type(5){
	transform: rotateY(288deg) translateZ(240px);
}
@keyframes movet{
		0%{
			transform: rotateY(0deg)
		}
		100%{
			transform: rotateY(-360deg)
		}
	}
body .showb{
	display: block;
}
#bg-mask{
	width:100%;
	height:100%;
	background: #000;
	position: fixed;
	top: 0;
	left:0;
	transform: rotateX(-90deg);
	z-index: 91;
	transition: 0.5s;
	transform-origin: top;
}
